@import "../Common.scss";

div.pipeline_item {
    // width: 300px;
    height: auto;
    margin: 10px 0 30px 30px;
    transition: .2s ease-in-out;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &.success {
        background: $positive-color;
        box-shadow: 0 0 20px rgba($color: $positive-color, $alpha: .19), 0 6px 6px rgba($color: $positive-color, $alpha: .23);
    }

    &.failure {
        background: $negative-color;
        box-shadow: 0 0 20px rgba($color: $negative-color, $alpha: .19), 0 6px 6px rgba($color: $negative-color, $alpha: .23);
    }

    // &:hover {
    //     transition: .2s ease-in-out;
    //     transform: translateY(2px);
    //     cursor: pointer;
    //     // opacity: .8;
    //     box-shadow: none;
    // }

    svg {
        width: 50px !important;
        height: 50px !important;
        margin: 10px 50px;
        color: #fff;

        &:last-of-type {
            width: 30px !important;
            height: 30px !important;
            margin: 30px;
            transition: .2s ease-in-out;

            &:hover {
                transition: .2s ease-in-out;
                // opacity: .7;
                transform: rotateZ(90deg);
                cursor: pointer;
            }
        }
    }
    
    div {
        border-right: 1px solid #fff;

        h2 {
            font-family: $font-blender;
            font-size: 1.3em;
            font-weight: 100;
            text-align: left;
            color: #fff;
            padding: 20px 20px 5px 0;
        }
    
        h3 {
            font-family: $font-blender;
            font-size: 1.3em;
            font-weight: 100;
            text-align: left;
            color: #fff;
            padding: 5px 20px 5px 0;
            font-weight: bold;

            &:last-of-type {
                padding: 5px 20px 20px 0;
            }
    
            span {font-weight: 100;}
        }
    }
}