@import "../Common.scss";

section.dashboard {
    div.dashboard_usage_graph {
        width: 430px;
        height: 200px;
        background: $main-color;
        // border: 2px solid #fff;
        margin: 0 0 30px 30px;
        border-radius: 3px;
        box-shadow: 0 0 20px rgba($color: $main-color, $alpha: .19), 0 6px 6px rgba($color: $main-color, $alpha: .23);

        h2 {
            width: 100%;
            font-family: $font-quicksand;
            font-size: 1.2em;
            font-weight: 600;
            color: #fff;
            text-align: left;
            padding: 13px 20px;
            border-bottom: 1px solid #fff;

            svg {
                margin-right: 5px;
            }
        }

        div.memory_bar {
            width: calc(100% - 40px);
            margin: 45px 20px 0 20px;
            height: 40px;
            // background: #fff;
            border: 2px solid #fff;
            border-radius: 3px;
            // overflow: hidden;
            position: relative;

            &:before {
                content: attr(data-memory-max);
                position: absolute;
                top: 100%;
                right: 0;
                color: #fff;
                font-family: $font-quicksand;
                font-size: 1.1em;
                margin-top: 5px;
                text-align: right;
            }

            div.memory_bar_value {
                width: 30%;
                height: 100%;
                background: #fff;
                position: relative;

                &:before {
                    content: attr(data-memory-current);
                    position: absolute;
                    top: 102%;
                    right: 0;
                    color: #fff;
                    font-family: $font-quicksand;
                    font-size: 1.1em;
                    margin-top: 5px;
                    text-align: right;
                }
            }
        }
    }

    div.dashboard_running_containers, div.dashboard_containers, div.dashboard_pipelines {
        width: 200px;
        height: 200px;
        background: $main-color;
        margin: 0 0 30px 30px;
        border-radius: 3px;
        box-shadow: 0 0 20px rgba($color: $main-color, $alpha: .19), 0 6px 6px rgba($color: $main-color, $alpha: .23);

        h2 {
            width: 100%;
            font-family: $font-quicksand;
            font-size: 1.2em;
            font-weight: 600;
            color: #fff;
            text-align: center;
            padding: 13px 0;
            border-bottom: 1px solid #fff;
        }

        h3 {
            width: 100%;
            font-family: $font-blender;
            font-size: 5.5em;
            font-weight: 100;
            color: #fff;
            text-align: center;
            // padding: 10px;
            margin-top: 20px;
        }
    }
}